extends ./layouts/main.pug


block content
    div
        h1 Благодарю за поддержку
    p На этой странице публикуется собщение, которое видит донатер, после перевода денег.

    p #[a(href="/") На главную]