doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/forms.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body.main
    div.page
      block content
    div.copyright Copyright S0ER 2020